{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off"
  },
  "extends": [
    "airbnb"
  ]
}